#editor
    #sidebar
        - if !@stack.published
            %input#stackPublish{:type=>"button", :value=>"Publish", :disabled=>true}
        - else
            %h4 Public, published Stack!

        %a.deleteStack{:href=>"/stacks/delete"} Delete

    #builder
        - if @stack.title
            %h2#stackTitle= @stack.title
            %input{:type=>'hidden', :id=>'stackId', :value=>@stack.id}
        - else
            %h2#stackTitle.unedited Click here to edit this stack's title

        %ul#scriptList
            - @scripts.each do |script|
                %li
                    =script.name
                    =script.original_size/1024
                    /
                    =script.minified_size/1024

        %form#newScript{:action=>"/script/new", :method=>"POST"}
            %h3 New Script

            %input#uploadInput{:type=>'button', :value=>'Upload a javascript file'}

            %h4 Or, enter a URL to a javascript file
            %input#urlInput{:type=>'text'}

            %h4 
                Or, paste javascript
                %a.revealPaste{:href=>"#"} [+]
            %textarea#pasteInput

            %input#newScriptSubmit{:type=>'button', :value=>"Submit"}


-if @stack.id
    %script
        var active_stack = Stack.bootstrap(#{@stack.to_json});


%script{:src => '/js/ajaxupload.js'}
%script{:src => '/js/editor.js'}
