!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
    %head
        %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
        %title= @browser_title || '&lt;scriptstack&gt; social js'
        %link{:type=>'text/css', :rel=>'stylesheet', :href=>'/css/screen.css', :media => 'screen, projection'}
        /[if IE]
            %link{:type=>'text/css', :rel=>'stylesheet', :href=>'/css/ie.css', :media => 'screen, projection'}

        %link{:type=>'text/css', :rel=>'stylesheet', :href=>'/gritter/jquery.gritter.css', :media => 'screen, projection'}

        %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js'}
        -#%script{:src => '/js/jquery-1.4a1.js'}

        %script{:src => '/js/ui.core.js'}
        %script{:src => '/js/ui.tabs.js'}
        %script{:src => '/js/ui.draggable.js'}
        %script{:src => '/js/ui.sortable.js'}

        %script{:src => '/js/jquery.jeditable.js'}
        %script{:src => '/js/jquery.gritter.js'}

        %script{:src => '/js/jquery.qtip-1.0.0-rc3.js'}
        -#%script{:src => '/js/jquery.qtip-unstable.js'}
        -#%script{:src => '/js/jquery.qtip.debug-1.0.0-rc3.js'}

        %script{:src => '/js/stack.js'}
        %script{:src => '/js/script.js'}
        %script{:src => '/js/tooltips.js'}
    %body.bp.ss
        #head
            .headcontent
                #nav
                    %ul
                        %li
                            %a{:href=>'/create'} Create a stack 
                        %li
                            %a{:href=>'/user'} Login/Signup
                        %li
                            %a{:href=>'/'} Search
                %h1#logo
                    %a{:href=>'/'} &lt;scriptstack&gt;
        #content
            = yield
       
        #footer
            
