// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

@import partials/base.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
//+blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
+blueprint-scaffolding("body.bp")

body.bp
    +blueprint-utilities
    +blueprint-debug
    +blueprint-interaction

form.bp
    +blueprint-form

form.editing
    input
        +textinput

body.bp
    :font-size 90%
    :line-height 1.1

    #head
        +outercontainer
        :background #272727
        :text-align left

        .headcontent
            :margin 0.5em
            :margin-left 3em

            #logo
                :font-size 150%
                :color #fff

                a
                    :color #fff
                    :text-decoration none
                    :font-weight bold

            #nav
                :float right
                :margin-right 3em

                ul
                    :margin 0
                    :height 30px

                    li
                        :float left
                        :display inline

                        a
                            :display block
                            :padding 5px 15px
                            :color #fff
                            :text-decoration none
                            :font-weight bold
        

    #content
        +container
        :padding-top 20px

        #home
            +container
            :width 950px

            h1.lead
                :text-align center
                :margin-top .5em
                :margin-bottom 1em
    
            #splash
                +container
                
                .question
                    :font-size 140%
                    :font-weight bold
                .answer
                    :font-size 120%

                #splashLeft
                    +column(12, true)

                    #splashLeftInner
                        +box

                #splashRight
                    +column(12, true)

                    #splashRightInner
                        +box
                        :background none

        #loginSignup
            form#signupForm.inactive
                :display none
            form#loginForm.inactive
                :display none

        #editor
            +container

            #sidebar
                :width 300px
                :position fixed
                :right 2%
                :top 60px

            #builder
                :margin-right 310px

                #stackTitle
                    :margin-top 0

                    .editing > input
                        :font-size 100%

                #stackTitle.unedited
                    :color #ccc

                #stackSummary
                    :padding 5px

                    #numScripts
                        :margin-left 20px
                        :font-size 125%
                        :font-weight bold

                    #stackSize
                        :float right
                        :width 100px

                        .stackMinSize
                            :font-size 125%
                            :font-weight bold

                        .stackOriginalSize
                            :font-size 90%
                            :color #777

                #scriptList
                    :margin 0
                    :padding 0
                    :margin-bottom 20px

                    li.scriptItem
                        :list-style-type none
                        :border solid 1px
                        border-color= !grey_border
                        :margin-bottom -1px
                        :padding 7px 5px
                        background= !grey_bg

                        &:hover
                            :background #fff

                        .scriptSummary

                            .scriptName
                                :font-size 125%
                                :cursor pointer
                                :margin-right 20px
                            
                            .scriptTags
                                :font-size 90%
                                :color #bbb

                            .scriptSize
                                :float right
                                :width 100px

                                .scriptMinSize
                                    :font-size 125%
                                    :font-weight bold

                                .scriptOriginalSize
                                    :font-size 90%
                                    :color #777


                            .scriptHandle
                                :float left
                                :margin-right 10px
                                :color #ccc
                                :cursor move


                        .scriptDetail
                            :margin-top 10px
                            :padding-left 20px
                            :display none

                            .scriptEditField
                                :width 50px
                                :text-align right

                            .scriptNameEdit
                                +textinput
                                :width 250px

                            .scriptTagsEdit
                                +textinput
                                :width 75%

                #newScriptButton
                    :border solid 1px
                    border-color= !grey_border
                    :padding 7px 5px
                    background= !grey_bg
                    :cursor pointer

                    &:hover
                        background= !green

                    .newScriptPlus
                        :color #ccc
                        :font-weight bold
                        :font-size 125%
                        :margin-right 7px
                    
                #newScript
                    :display none

                    #pasteInput
                        :display none
